html,body{
  font-family: 'Open Sans', serif !important}
table{
  display: table}
td{
  padding: 10px;
  background: #F1F1F1;
  margin: 0px;
  color: #545454;
  width: 170px;}

.editable-cell{
  transition: .3s all linear}

.editable-field{
  display: flex;
  justify-content: space-between}

.editable-input{
  border: none;
  font-size: inherit;
  background: inherit;
  color: inherit;
  transition: .3s all linear;}
  /* &:focus
    outline: none
    background: white
    color: #545454
     */

.edit-button{
  cursor: pointer;
  font-size: 5em;
  position: relative;
  top: 5px}
  
.hide{
  visibility: hidden !important}
    
.editing{
  background: #E9F5FA;
  color: #f1f1f1;
  box-shadow: -2px 0px 0px #0081C6}